<#@ template  debug="true" hostSpecific="true" #>
<#@ output extension=".cs" #>
<#@ Assembly Name="E:\projects\ZAppEngine\Zirpl.AppEngine.CodeGeneration.VS2013\bin\Debug\Zirpl.AppEngine.CodeGeneration.VS2013.dll" #>
<#@ import namespace="Zirpl.AppEngine.CodeGeneration" #>
<#
	this.GenerateApp();
	//Zirpl.AppEngine.CodeGeneration.AppGenerator.GenerateApp(this);
#>
