/Zirpl.Spotify/Zirpl.MusicChecker/bin
/Zirpl.Spotify/Zirpl.MusicChecker/obj
/Zirpl.Spotify/packages
/Zirpl.Spotify/MusicCatalogger/bin
/Zirpl.Spotify/MusicCatalogger/obj
/Zirpl.Spotify/Zirpl.MusicChecker.v12.suo
/Zirpl.Spotify/Zirpl.MusicChecker.CodeGeneration/bin
/Zirpl.Spotify/Zirpl.MusicChecker.CodeGeneration/obj
/Zirpl.Spotify/Zirpl.MusicChecker.Model/bin
/Zirpl.Spotify/Zirpl.MusicChecker.Model/obj
/Zirpl.Spotify/Zirpl.MusicChecker.Web/bin
/Zirpl.Spotify/Zirpl.MusicChecker.Web/obj
