/Zirpl.Spotify/Zirpl.MusicChecker/bin
/Zirpl.Spotify/Zirpl.MusicChecker/obj
/Zirpl.Spotify/packages
/Zirpl.Spotify/MusicCatalogger/bin
/Zirpl.Spotify/MusicCatalogger/obj
/Zirpl.Spotify/Zirpl.MusicChecker.v12.suo
